<div class="card mb-4 shadow-sm">
 
    <img [src]="productList.imageUrl" width="100%" alt="">

    <div class="card-body">
        <p class="card-text">
            <strong>{{productList.price|currency}}</strong>
        </p>
      <p class="card-text">{{productList.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group container">
          <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to cart</button>
          <button type="button" class="btn btn-sm btn-outline-success product-btn">View details</button>
        </div>
      </div>
    </div>
  </div>