<div *ngIf="cartItems.length === 0"  class="alert alert-warning">
  Your cart is empty
</div>

<ul *ngIf="cartItems.length > 0"  class="list-group">
    <li class="list-group-item" *ngFor="let item of cartItems" >
        <app-cart-item [cartItems]="item"></app-cart-item>
    </li>

    <li class="list-group-item active">
        <strong>Total:{{cartTotal |currency}}</strong>
    </li>
</ul>
