<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <app-navbar></app-navbar>

      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div>
            <!--We can type here-->
            <div class="container mt-5">
              <div class="row">
                <div class="col">
                  <app-filters></app-filters>
                </div>
                <div class="col-md-8">
                  <app-product-list></app-product-list>
                </div>
                <div class="col">
                  <app-cart></app-cart>
                </div>
              </div>
            </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            
          </section>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
      
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
    </body>
    