<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <app-navbar></app-navbar>

      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Forms</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Forms</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-danger" routerLink="/forms-edit/new">
                  <i class="fas fa-plus"></i>
                   Agregar
                </button>
              </div>
        </div>
      </div>
    </section>

    <div class="card mt-3">
        <div class="card-header">
          <h3 class="card-title">Informacion</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table *ngIf="!loading && people.length > 0"  class="table table-bordered animated fadeIn faster">
            <thead class="text-center">                  
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let person of people let i = index" >
                <td>{{i + 1}}</td>
                <td>{{person.name}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.email}}</td>
                <td>{{person.telephone}}</td>
               <!-- <td>{{(person.condition == false)? "inactivo": "activo"}}</td>-->
               <td>
                 <label *ngIf="person.condition"  class="badge badge-success">Activo</label>
                 <label *ngIf="!person.condition"  class="badge badge-danger">Inactivo</label>
               </td>
               <td>
                 <button class="btn btn-info mr-1" [routerLink]="['/forms-edit', person.id]">
                   <i class="fa fa-pen"></i>
                 </button>
                 <button class="btn btn-danger" (click)="deletePeople(person, i)">
                  <i class="fa fa-trash"></i>
                 </button>
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div *ngIf="!loading && people.length === 0"  class="alert alert-warning text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>
    </div>

      <div class="container">
        <div *ngIf="loading"  class="alert alert-primary text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-3">
                Espere por favor
            </p>
        </div>
    </div>
  </div>      
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
    </body>
    