<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <app-navbar></app-navbar>

      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Persona <small>Nombre de la persona</small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Forms</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-danger" routerLink="/forms">
                  <i class="fas fa-arrow-left"></i>
                   Regresar
                </button>
              </div>
        </div>
      </div>
    </section>

    <div class="container">
     <!-- general form elements -->
     <div class="card card-primary mt-3">
        <div class="card-header blue">
          <h3 class="card-title">Formulario</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
  
        <form #f="ngForm" (ngSubmit)="saveInformation(f)">
          <div class="card-body">
            <div class="form-group">
              <label>Firebase ID</label>
              <input type="text" class="form-control" disabled="disabled" placeholder="Firebase Id" name="id">
              <small class="form-text tex-muted">Este campo es autogenerado</small>
            </div>
          
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Escriba su nombre" required name="name" [(ngModel)]="person.name">
              <span *ngIf="f.submitted && f.controls['name'].errors" class="text-danger animated fadeIn">The name is required</span>
            </div>
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" class="form-control"  placeholder="Escriba su apellido" required name="lastName" [(ngModel)]="person.lastName">
              <span *ngIf="f.submitted && f.controls['lastName'].errors" class="text-danger animated fadeIn">The last name is required</span>
            </div>

            <div class="form-group">
              <label>Correo</label>
              <input type="email" class="form-control"  placeholder="Escriba su correo" required name="email" [(ngModel)]="person.email">
              <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">The email is required</span>
            </div>

            <div class="form-group">
              <label>Telefono</label>
              <input type="tel" class="form-control"  placeholder="Escriba su telefono" required name="telephone" [(ngModel)]="person.telephone">
              <span *ngIf="f.submitted && f.controls['telephone'].errors" class="text-danger animated fadeIn">The telephone is required</span>
            </div>

            <div class="form-group">
              <label>Estado</label>
              <br>
              <button *ngIf="person.condition" (click)="person.condition = false" class="btn btn-outline-success w-50" type="button">
                <i class="fa fa-smile-wink"></i>
                Activo
              </button>
              <button *ngIf="!person.condition" (click)="person.condition = true" class="btn btn-outline-danger w-50" type="button">
                <i class="fa fa-dizzy"></i>
                Inactivo
              </button>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save"></i>
              Enviar
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>   
  <app-footer ></app-footer> 
    </div>
    <!-- ./wrapper -->
    </body>
    