<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <app-navbar></app-navbar>
      <app-content></app-content>
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
    </body>
    